@media (max-width: 1024px) and (pointer: coarse) {
    .mainHeader {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 2em;
        padding-bottom: 10px;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.25);
    }

    .mainHeader nav {

        display: flex;
        justify-content: space-around;
    }

    .icon {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navButton a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 0.75em;
    }

    .mainHeader2 {
        position: absolute;
        top: 50px;
        right: 20px;
    }

    .mainHeader2 nav {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .buttonsNav2 {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.profileSection{
    background-color: white;
    border: 1px solid black;
    z-index: 1;
    position:absolute;
    top:120%;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    color:#ed4448;
}
.profileSection p{
    font-weight: 600;
    color:black;
    margin-bottom: 20px;
}
.profileTriangle{
    position: absolute;
    width: 0px;
    height: 0px;
    border-bottom: 10px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    top:-19.9px;
}