.todoTitle {
    font-size: 3em;
    font-weight: 900;
    text-align: start;
}

.listToDo {
    padding-top: 25px;
    font-size: 1.5em;
}

.workList {
    list-style: none;
    padding: 0;
}

.listToDo h3 {
    margin-bottom: 30px;
}

.work {
    padding: 10px;
}

.todoNav {
    font-size: 1.8em;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    gap: 50px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.todoNav a {
    position: relative;
}

.todoNavActive {
    font-weight: 600;
}

.todoNavActive::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: green;
    top: 100%;
    left: 0;
}