.todoPage {
    position: relative;
}

.todoTitle {
    font-size: 3em;
    font-weight: 900;
    text-align: start;
}

.listToDo {
    padding-top: 25px;
    font-size: 1.5em;
}

.workList {
    list-style: none;
    padding: 0;
    max-height: 620px;
    overflow: auto;
    scrollbar-width: none;
}

.listToDo h3 {
    margin-bottom: 30px;
}

.work {
    padding: 15px 10px;
    font-size: 1.7em;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.work:not(:nth-of-type(1)) {
    margin-top: 20px;
}

.todoWorkIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.emergencyIcon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    animation: animationEmergencyTodo 1s infinite alternate;
}

.todoNav {
    font-size: 1.8em;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    gap: 50px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.todoNav::after {
    content: "";
    width: 0%;
}

.todoNav a {
    position: relative;
}

.todoNavActive {
    font-weight: 600;

}

.todoNav .todoNavActive::after {
    content: "";
    position: absolute;
    animation: animationNavTodo 0.2s forwards;
    height: 4px;
    background-color: green;
    top: 100%;
    left: 0;
}

.workDetail {
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    padding: 25px 35px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.workDetailTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workDetailBody .workDetailDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.workDetailBody .workDetailDesc div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.workDetailBody div p:nth-of-type(2) {
    font-size: 0.8em;
}

.workDetailBody .lastMaintanceDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.9em;
    gap: 0px;
    padding-bottom: 20px;
}

.workDetail header {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.workDetail footer {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.workDetail footer div {
    font-size: 0.8em;
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 10px;
    display: inline-block;
}

.nodeText {
    width: 100%;
    background-color: #fde5e7;
    padding: 10px;
    border-radius: 10px;
}


.workDetail h3 {
    margin-bottom: 20px;
}

.workDetailButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.workDetailButton {
    background-color: #ed4448;
    color: white;
    border-radius: 10px;
    font-size: 1.1em;
    padding: 20px 50px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

.workDetailButtonCancel {
    background-color: #f4f4f4;
    color: #ed4448;
}

@keyframes animationEmergencyTodo {
    0% {
        background-image: url("./../../../public/icon/emergencyIcon.png");

    }

    100% {
        background-image: url("./../../../public/icon/emergencyIconFilled.png");

    }
}

@keyframes animationNavTodo {
    0% {
        width: 0%;

    }

    100% {
        width: 100%;

    }
}